<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Course Project</title>
  <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header class="header_top">
  <div class="my_blog">
    <div class="my_blog_logo"><a href="/">Reshetnickov</a></div>
  </div>
</header>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" style="border-color: black;">
      <h1><img src="../image/website.png" alt=""></h1>
      <a href="/users/register" class="btn btn-primary btn-block mybtn" style="margin-top: 20px; border-color: #20639B;"
      >Register</a>
      <a href="/users/login" class="btn btn-primary btn-block mybtn" style="border-color: #20639B;">Login</a>
    </div>
  </div>
</div>
</body>
</html>


<!--<i class="fab fa-node-js fa-3x"></i>-->
