<!DOCTYPE html>
<html>
<head>
    <title>Create Person</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header class="header_top">
    <div class="my_blog" style="margin-bottom: 40px">
        <div class="my_blog_logo"><a href="">Create Person</a></div>
    </div>
</header>
<div class="container">
    <form action="/persons/save" method="post">
        <table class="table">
            <tbody>
            <tr>
                <td><span class="input-group-text" id="inputGroup-sizing-default">Name</span></td>
                <td><input type="text" name="name" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default"></td>
            </tr>
            <tr>
                <td><span class="input-group-text" id="inputGroup-sizing-default">Surname</span></td>
                <td><input type="text" name="surname" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default"></td>
            </tr>
            <tr>
                <td><span class="input-group-text" id="inputGroup-sizing-default">Email</span></td>
                <td><input type="text" name="email" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default"></td>
            </tr>
            <tr>
                <td><span class="input-group-text" id="inputGroup-sizing-default">Phone</span></td>
                <td><input type="text" name="phone" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default"></td>
            </tr>
            <tr>
                <td><span class="input-group-text" id="inputGroup-sizing-default">Address</span></td>
                <td><input type="text" name="address" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default"></td>
            </tr>
            <tr>
                <td><span class="input-group-text" id="inputGroup-sizing-default">Position</span></td>
                <td><input type="text" name="position" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <button style="width: 800px" ; type="submit" class="btn btn-success">Save</button>
                    <a href="/persons" class="btn btn-primary" style="background-color: #20639B;
               border-color: #20639B; color: white; margin-top: 20px;
    width: 800px; ">Persons List</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>
</body>
</html>

<!--<form action="/persons/save" method="post">-->
<!--    <table>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td>Name</td>-->
<!--            <td><input type="text" name="name"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Surname</td>-->
<!--            <td><input type="text" name="surname"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Email</td>-->
<!--            <td><input type="text" name="email"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Phone</td>-->
<!--            <td><input type="text" name="phone"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Address</td>-->
<!--            <td><input type="text" name="address"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Position</td>-->
<!--            <td><input type="text" name="position"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td colspan="2">-->
<!--                <button type="submit">Save</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</form>-->
